{% extends 'accounts/base.html' %}


{% block head_block %}

<title>About Us</title>

{% endblock %}


{% block body_block %}

<h1 class="ss"> About Us</h1><br><br><br>

<div class="container-fluid ab">


    <div class="container-fluid">

        <span>

            <h3 class="frac">What are Fractals...!!</h3><br>

            <p class="loader"><strong><span class="spgm">Geometrically : </span></strong>It is a curve whose each part is capable of rendering the entire curve again. <br>
                <strong><span class="spgm">Philosophically : </span></strong>It is eternity present at any scale and form whatever we may do. <br> <br>

                Fractals are never ending and are infinitely complex exhibiting self similarity across human curiosities. They are created by repeating a process over and over again,
                Thus we here at <strong>Techno Fractals</strong> try to give a platform to those fractal minds to share and gain knowledge expanding their scope both vertically and horizontally.
            </p>
            <br><br>
            <h3 id="wtf">Welcome to Techno Fractals</h3>

        </span>
        
    </div>
    

</div>

<script src="../../static/js/about.js"></script>

{% endblock %}